<!DOCTYPE html>
<html>
  <head>
    <title><%%= title %%></title>
    <%%- include('../../views/tile/head') %%>
  </head>
  <body>
 <%%- include('../../views/tile/body-initial') %%>
 <%%- include('../../views/tile/navigation') %%>


 <div class="wrap">
    <div class="container">
      <div class="row">
          <div class="column column-25">
              <%%- include('./sidebar') %%>
          </div>
      
          <div class="column column-75">
           <main id="main">
            <%% <%= names %>.forEach(function (<%= name %>) { %%>
              <div>
                <div><h4><a href="/tasks/<%%= task.id %%>"><%%= <%= name %>.title %%></a></h4></div>
                <a href="/tasks/<%%= task.id %%>/edit" class="button small"> Edit</a>
                <%%- hlp.crud.delete( "delete" , 
                { path : "/<%= names %>/#" , id : task.id , csrf : csrf , redirect : "/<%= names %>" } , 
                {class : "button button-outline small info"} ) %%>
              </div>
            <%% }); %%>
            
  
            <%%- hlp.pagination.render(page , {path: "/<%= names %>/page/#"}); %%>
           </main>
          </div>
      </div>
    </div>
</div>



 <%%- include('../../views/tile/footer') %%>
 <%%- include('../../views/tile/scripts') %%>
 <%%- include('../../views/tile/body-final') %%>
  </body>
</html>
